*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: azure;
}

.descripcion{
    color: black;
}

.h1,h2,h3{ 
    color: gold;
}

.header{ 
    background-color:cornsilk;
    padding: 20px;
    margin: 100px auto;
    width: 50% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img{
    height: 100px;
    border-radius: 25%;
}

.contacto{
    background:aquamarine;
    padding: 20px;
    margin: 35px ;
    width: 50%;
    border-radius: 7px;
}

.contacto form {
    margin: 25px;
} 

.contacto label, .contacto input, .contacto select {
    display: block;
    margin: 15px 0;
    padding: 10px;
}
.laboral{
    background: red;
    padding: 25px ;
    margin: 100px auto;
    width: 50% ;
    border-radius: 7px;
}

.escolar{
    background: yellowgreen;
    padding: 25px ;
    margin: 100px auto;
    width: 50% ;
    border-radius: 7px;
}
.contacto{
    round: blue;
    padding: 25px ;
    margin: 100px auto;
    width: 50% ;
    border-radius: 7px;
}

